<h1>NPM Module Dev</h1>

{{#link-to "streams"}}Local Streams Testing Zone{{/link-to}}
<br>
{{#link-to "connections"}}RTC Connection Testing Zone{{/link-to}}
<br>
{{#link-to "index"}}Return home{{/link-to}}

{{outlet}}